 # WEEK
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# WEEK
<FilesMatch "\.(js|css|swf)$">
    Header set Cache-Control "max-age=604800"
</FilesMatch>

AddType text/html .html
AddHandler default-handler .html
AddOutputFilter INCLUDES .html
ErrorDocument 404 http://www.mypurehealth.co.uk/